<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="utf-8">
	<title>Quản lí tài khoản</title>
	<meta content="width=device-width, initial-scale=1.0" name="viewport">
	<meta content="" name="keywords">
	<meta content="" name="description">

	<!-- Favicon -->
	<link th:href="@{/admin/img/favicon.ico}" rel="icon">

	<!-- Google Web Fonts -->
	<link rel="preconnect" th:href="@{https://fonts.googleapis.com}">
	<link rel="preconnect" th:href="@{https://fonts.gstatic.com}" crossorigin>
	<link th:href="@{https://fonts.googleapis.com/css2?family=Montserrat:ital@1&display=swap}" rel="stylesheet">

	<!-- Icon Font Stylesheet -->
	<link th:href="@{https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css}" rel="stylesheet">
	<link th:href="@{https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css}" rel="stylesheet">
	<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">

	<!-- Libraries Stylesheet -->
	<link th:href="@{/admin/lib/owlcarousel/assets/owl.carousel.min.css}" rel="stylesheet}">
	<link th:href="@{/admin/lib/tempusdominus/css/tempusdominus-bootstrap-4.min.css}" rel="stylesheet" />

	<!-- Customized Bootstrap Stylesheet -->
	<link th:href="@{/admin/css/bootstrap.min.css}" rel="stylesheet">

	<!-- Template Stylesheet -->
	<link th:href="@{/admin/css/style.css}" rel="stylesheet">
	<link rel="stylesheet" th:href="@{/css/account.css}">
</head>

<body onload="hideAdd()">
	<div class="container-xxl position-relative bg-white d-flex p-0">
		<!-- Spinner Start -->
		<div id="spinner"
			class="show bg-white position-fixed translate-middle w-100 vh-100 top-50 start-50 d-flex align-items-center justify-content-center">
			<div class="spinner-border text-primary" style="width: 3rem; height: 3rem;" role="status">
				<span class="sr-only">Loading...</span>
			</div>
		</div>
		<!-- Spinner End -->


		<!-- Sidebar Start -->
		<div class="sidebar pe-12 pb-2">
			<nav class="navbar bg-light navbar-light">
				<a href="/admin/login/account" id="reload" class="navbar-brand mx-4 mb-3">
					<h3 class="text-primary"><i class="fa fa-hashtag me-2"></i>Tài khoản</h3>
				</a>
				<div class="d-flex align-items-center ms-4 mb-4">
					<div class="position-relative">
						<img class="rounded-circle" th:src="${user.avatar}" alt="" style="width: 40px; height: 40px;">
						<div
							class="bg-success rounded-circle border border-2 border-white position-absolute end-0 bottom-0 p-1">
						</div>
					</div>
					<div class="ms-3">
						<h6 class="mb-0" th:text="${user.name}"></h6>
						<span th:text="${user.role}"></span>
					</div>
				</div>
				<div class="navbar-nav w-100">

					<a href="/admin/room-manage" class="nav-item nav-link "><i class="fa-solid fa-door-open"></i>Quản lí
						phòng</a>
					<a href="/admin/room-manage/room-category" class="nav-item nav-link"><i
							class="fa-solid fa-door-open"></i>Loại phòng</a>
					<a href="/admin/account-manage" class="nav-item nav-link active"><i
							class="fa-solid fa-people-roof"></i>Quản lí khách
						hàng</a>
					<a href="/admin/revervation" class="nav-item nav-link "><i class="fa-solid fa-suitcase"></i>Quản lí
						đặt phòng</a>
					<a href="/admin/statistic" class="nav-item nav-link "><i class="fa-solid fa-chart-simple"></i>Thống kê</a>
					<hr>
					<a th:href="@{/}" class="nav-item nav-link"><i class="fa-solid fa-house"></i>Trang chủ</a>
					<a href="/admin/login/account" class="nav-item nav-link "><i class="fa-solid fa-user"></i>Cá
						nhân</a>
					<a href="/admin/password" class="nav-item nav-link"><i class="fa-solid fa-lock"></i>Đổi mật khẩu</a>

					<form id="myform" method="post" action="/admin/login/logout"></form>
					<a onclick="document.getElementById('myform').submit();" class="nav-item nav-link"><i
							class="fa-solid fa-right-from-bracket"></i>Đăng xuất</a>

				</div>
			</nav>
		</div>
		<!-- Sidebar End -->


		<!-- Content Start -->
		<div class="content" style="position: relative;">
			<!-- Navbar Start -->
			<nav class="navbar navbar-expand bg-light navbar-light sticky-top px-4 py-0">
				<a href="index.html" class="navbar-brand d-flex d-lg-none me-4">
					<h2 class="text-primary mb-0"><i class="fa fa-hashtag"></i></h2>
				</a>
				<a href="#" class="sidebar-toggler flex-shrink-0">
					<i class="fa fa-bars"></i>
				</a>
				<form class="d-none d-md-flex ms-4">
					<input class="form-control border-0" type="search" placeholder="Search">
				</form>
				<div class="navbar-nav align-items-center ms-auto">



				</div>
			</nav>
			<!-- Navbar End -->


			<div th:if="${success!=null}">
				<div style="z-index: 2;" id="successAlert" class="alert alert-success" role="alert" th:text="${success}">

				</div>
			</div>
			<div th:if="${error!=null}">
				<div style="z-index: 2;" id="erroAlert" class="alert alert-danger" role="alert" th:text="${error}">

				</div>
			</div>



			<!-- room table start -->
			<div  id="room-table">
				<div style="margin: 6pt;position: relative;" class="bg-light rounded h-100 p-3 ">
					<h5 style="display: inline-block;z-index: 1;" class="mb-4">Danh sách tài khoản</h5>
					<a><button style="float: right;margin: 5pt;" id="bt-add" type="button" class="btn btn-success">Thêm
							mới tài khoản</button></a>
					<table  class="table table-hover">
						<thead>
							<tr>
								<th scope="col">ID</th>
								<th scope="col">Username</th>
								<th scope="col">Tên</th>
								<th scope="col">Email</th>
								<th scope="col">Số điện thoại</th>
								<th scope="col">Role</th>
								<th scope="col">Trạng thái</th>
								<th scope="col"></th>
								<th scope="col"></th>
								<th scope="col"></th>
							</tr>
						</thead>
						<tbody>
							<th:block th:each="userX : ${users}">
								<tr>
									<th scope="row" th:text="${userX.id}">1</th>
									<td th:text="${userX.username}">ahihi</td>
									<td th:text="${userX.name}">No name</td>
									<td th:text="${userX.email}">ahihi@gmail.com</td>
									<td th:text="${userX.phone}">091827232</td>
									<td th:text="${userX.role}">091827232</td>
									<th:block th:if="${userX.locked==false}">
										<td><i style="color: green;" class="fa-solid fa-circle-check"></i></td>
									</th:block>
									<th:block th:unless="${userX.locked==false}">
										<td><i style="color: red;" class="fa-solid fa-circle-xmark"></i></td>
									</th:block>


									<td>
										<button style="height: 47pt;" type="button"
											class="btn btn-outline-warning bt-vohieu"
											th:onclick="showEditForm([[${userX.id}]],[[${userX.username}]],[[${userX.name}]],[[${userX.email}]],[[${userX.phone}]],[[${userX.role}]])">
											Edit

										</button>

									</td>
									<td><button style="height: 47pt;" type="button" class="btn btn-outline-danger"
											onclick="showModalConfirm()">Delete</button></td>
									<th:block th:if="${userX.locked==false}">
										<td><a
												th:href="@{'/admin/account-manage/locked/'+${userX.id} +'/' +${userX.locked}}"><button
													style="height: 47pt;width: 90pt;" type="button"
													class="btn btn-outline-secondary bt-vohieu">Vô
													hiệu
													hóa</button></a></td>
									</th:block>
									<th:block th:unless="${userX.locked==false}">
										<td><a
												th:href="@{'/admin/account-manage/locked/'+${userX.id} +'/' +${userX.locked}}"><button
													style="height: 47pt;width: 90pt;" type="button"
													class="btn btn-outline-success bt-kichhoat">Kích
													hoạt</button></a></td>
									</th:block>

									<td>
										<!-- Modal Start-->
										<div class="modal fade" id="confirm" tabindex="-1" role="dialog"
											aria-labelledby="exampleModalLabel" aria-hidden="true">
											<div class="modal-dialog" role="document">
												<div class="modal-content">
													<div class="modal-header">
														<h5 class="modal-title" id="exampleModalLabel">Thông báo</h5>
														<button type="button" class="close" data-bs-dismiss="modal"
															aria-label="Close">
															<span aria-hidden="true">&times;</span>
														</button>
													</div>
													<div class="modal-body">
														<h6>Bạn có chắc muốn xóa?</h6>
													</div>
													<div class="modal-footer">
														<button type="button" class="btn btn-secondary"
															data-bs-dismiss="modal">Hủy</button>
														<a
															th:href="@{/admin/account-manage/delete/{id}(id=${userX.id})}"><button
																type="button" class="btn btn-primary">Xóa</button>
														</a>
													</div>
												</div>
											</div>
										</div>
										<!-- Modal End -->
									</td>

								</tr>
							</th:block>

						</tbody>
						<!-- Pagination start -->
						<nav style="position: absolute;bottom: 0;margin-bottom: -64pt;right: 0;margin-right: 5pt;z-index: 2;"
							aria-label="Page navigation example">
							<ul class="pagination justify-content-right">
								<th:block th:if="${pagination.pageNumber}==1">
									<li class="page-item disabled">
										<a class="page-link" href="#" tabindex="-1">Previous</a>
									</li>
								</th:block>
								<th:block th:if="${pagination.pageNumber>1}">
									<li class="page-item">
										<a class="page-link"
											th:href="@{'/admin/account-manage/'+${pagination.pageNumber-1}}"
											tabindex="-1">Previous</a>
									</li>
								</th:block>

								<th:block th:each="i: ${#numbers.sequence(1, pagination.totalPage)}">
									<th:block th:if="${pagination.pageNumber} eq ${i}">
										<li class="page-item active"><a class="page-link"
												th:href="@{'/admin/account-manage/'+${i}}" th:text="${i}"></a></li>
									</th:block>

									<th:block th:unless="${pagination.pageNumber} eq ${i}">
										<li class="page-item "><a class="page-link"
												th:href="@{'/admin/account-manage/'+${i}}" th:text="${i}"></a></li>
									</th:block>

								</th:block>

								<th:block th:if="${pagination.isLast}">
									<li class="page-item disabled">
										<a class="page-link" href="#">Next</a>
									</li>
								</th:block>
								<th:block th:if="${pagination.isLast}==0">
									<li class="page-item">
										<a class="page-link"
											th:href="@{'/admin/account-manage/'+${pagination.pageNumber+1}}">Next</a>
									</li>
								</th:block>
							</ul>
						</nav>
						<!-- Pagination end -->
					</table>
				</div>

			</div>

			<!-- room table  end -->

			<!-- room add form start -->
			<div class="page-content page-container" id="add-form">
				<div class="padding">
					<div class="row container d-flex justify-content-center">
						<div class="col-xl-6 col-md-12">
							<div class="card user-card-full">
								<div class="row m-l-0 m-r-0">
									<div class="col-sm-4 bg-c-lite-green user-profile">
										<div class="card-block text-center text-white">

											<h3 class="f-w-600 " style="color: white;">Thêm người dùng</h3>
											<i class=" mdi mdi-square-edit-outline feather icon-edit m-t-10 f-16"></i>
										</div>
									</div>
									<div class="col-sm-8">
										<div class="card-block">
											<div class="row">
												<form method="post" action="/admin/account-manage"
													th:object="${account}">
													<div class="col-sm-6">

														<p class="m-b-10 f-w-600">Username</p>
														<input name="username" th:field="*{username}" type="text"
															size="50" class="text f-w-400" required>
													</div>
													<div class="col-sm-6">
														<p class="m-b-10 f-w-600">Tên người dùng</p>
														<input name="name" th:field="*{name}" id="name" type="text"
															size="50" class="text f-w-400" required></input>
													</div>
													<div class="col-sm-6">
														<p class="m-b-10 f-w-600">Email</p>
														<input name="email" th:field="*{email}" id="email" type="text"
															class="text f-w-400" required></input>
													</div>
													<div class="col-sm-6">
														<p class="m-b-10 f-w-600">Số điện thoại</p>
														<input name="phone" th:field="*{phone}" id="phone" type="text"
															class="text f-w-400" required></input>
													</div>

													<div class="col-sm-6">
														<p class="m-b-10 f-w-600">Mật khẩu</p>
														<input name="password" th:field="*{password}" id="passwordNew"
															type="password" class="text f-w-400" required></input>
													</div>
													<div class="col-sm-6">
														<p class="m-b-10 f-w-600">Nhập lại mật khẩu</p>
														<input name="passwordRe" id="passwordNewRe" type="password"
															class="text f-w-400" required></input>
													</div>
													<div class="col-sm-6">
														<p class="m-b-10 f-w-600">Role</p>
														<input name="role" th:field="*{role}" id="role" type="text"
															class="text f-w-400" required></input>
													</div>
													<button type="submit" onclick="validatePassword()"
														style="margin-top: 8pt;"
														class="btn btn-outline-success">Lưu</button>
													<button type="button" id="bt-huy" style="margin-top: 8pt;"
														class="btn btn-outline-danger">Hủy</button>
												</form>
											</div>

										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- room add form end -->

			<!-- room edit form start -->
			<div class="page-content page-container" id="edit-form">
				<div class="padding">
					<div class="row container d-flex justify-content-center">
						<div class="col-xl-6 col-md-12">
							<div class="card user-card-full">
								<div class="row m-l-0 m-r-0">
									<div class="col-sm-4 bg-c-lite-green user-profile">
										<div class="card-block text-center text-white">

											<h3 class="f-w-600 " style="color: white;">Sửa người dùng</h3>
											<i class=" mdi mdi-square-edit-outline feather icon-edit m-t-10 f-16"></i>
										</div>
									</div>
									<div class="col-sm-8">
										<div class="card-block">
											<div class="row">
												<form method="post" action="/admin/account-manage/edit">
													<div class="col-sm-6">

														<p class="m-b-10 f-w-600">Username</p>
														<input name="username" id="usernameEdit" type="text" size="50"
															class="text f-w-400" readonly>
													</div>
													<div class="col-sm-6">
														<p class="m-b-10 f-w-600">Tên người dùng</p>
														<input name="name" id="nameEdit" type="text" size="50"
															class="text f-w-400" required></input>
													</div>
													<div class="col-sm-6">
														<p class="m-b-10 f-w-600">Email</p>
														<input name="email" id="emailEdit" type="text"
															class="text f-w-400" required></input>
													</div>
													<div class="col-sm-6">
														<p class="m-b-10 f-w-600">Số điện thoại</p>
														<input name="phone" id="phoneEdit" type="text"
															class="text f-w-400" required></input>
													</div>
													<div class="col-sm-6">
														<p class="m-b-10 f-w-600">Role</p>
														<input name="role" id="roleEdit" type="text"
															class="text f-w-400" required></input>
													</div>

													<button type="submit" style="margin-top: 8pt;"
														class="btn btn-outline-success">Lưu</button>
													<button type="button" id="bt-huy-edit" style="margin-top: 8pt;"
														class="btn btn-outline-danger">Hủy</button>
												</form>
											</div>

										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- room edit form end -->





			<!-- Footer Start -->
			<div style="position: absolute;bottom: 0;z-index: 1;" class="container-fluid pt-2 px-2">
				<div class="bg-light rounded-top p-2">
					<div class="row">
						<div class="col-12 col-sm-6 text-center text-sm-start">
							&copy; <a href="#">Your Site Name</a>, All Right Reserved.
						</div>

					</div>
				</div>
			</div>
			<!-- Footer End -->
		</div>
		<!-- Content End -->




		<!-- Back to Top -->
		
	</div>

	<!-- JavaScript Libraries -->
	<script th:src="@{https://code.jquery.com/jquery-3.4.1.min.js}"></script>
	<script th:src="@{https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js}"></script>
	<script th:src="@{/admin/lib/chart/chart.min.js}"></script>
	<script th:src="@{/admin/lib/easing/easing.min.js}"></script>
	<script th:src="@{/admin/lib/waypoints/waypoints.min.js}"></script>
	<script th:src="@{/admin/lib/owlcarousel/owl.carousel.min.js}"></script>
	<script th:src="@{/admin/lib/tempusdominus/js/moment.min.js}"></script>
	<script th:src="@{/admin/lib/tempusdominus/js/moment-timezone.min.js}"></script>
	<script th:src="@{/admin/lib/tempusdominus/js/tempusdominus-bootstrap-4.min.js}"></script>

	<!-- Template Javascript -->
	<script th:src="@{/admin/js/main.js}"></script>

	<script>

		$("#bt-add").click(function (e) {
			e.preventDefault();
			$("#add-form").show();
			$("#room-table").hide();
		});

		function hideAdd() {
			$("#add-form").hide();
			$("#edit-form").hide();
		}
		$("#bt-huy").click(function (e) {
			e.preventDefault();
			$("#add-form").hide();
			$("#room-table").show();
		});


		function validatePassword() {
			var password = document.getElementById("passwordNew")
				, confirm_password = document.getElementById("passwordNewRe");
			if (password.value != confirm_password.value) {
				confirm_password.setCustomValidity("Mật khẩu không khớp!");
				return false;
			} else {
				confirm_password.setCustomValidity('');
				return true;
			}
		}
		function showModalConfirm() {
			$('#confirm').modal('show');
		}
		function showEditForm(id, username, name, email, phone, role) {
			$("#add-form").hide();
			$("#room-table").hide();
			$("#edit-form").show();
			$("#usernameEdit").val(username);
			$("#nameEdit").val(name);
			$("#emailEdit").val(email);
			$("#phoneEdit").val(phone);
			$("#roleEdit").val(role);

		}
		$("#bt-huy-edit").click(function (e) {
			e.preventDefault();
			$("#add-form").hide();
			$("#edit-form").hide();
			$("#room-table").show();
		});

		$(function () {



			setTimeout(function () {
				$('#erroAlert').fadeOut('slow');
				$('#successAlert').fadeOut('slow');
			}, 2000);

		});
	</script>
</body>

</html>