<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
	<title>Login</title>
	<meta charset="utf-8">
	<meta http-equiv="x-ua-compatible" content="ie=edge">
	<meta name="description" content="">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" th:href="@{/css/login.css}">
	<link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
	<link rel="stylesheet" th:href="@{/css/style.css}">
	<link rel="stylesheet" th:href="@{/css/customStyle.css}">
	<style>
		body {
			color: white;

		}
	</style>
</head>


<body>
	<div style="color: white;width: 500px;margin: auto; margin-top: 200px;">
		<h1>Cảm ơn!</h1>
		<h3>Chúng tôi đã gửi link xác nhận tới email mà bạn đăng kí!<br>Vui lòng đăng nhập email và kích hoạt tài khoản
			của
			bạn!</h3>
		<a href="/login">Đăng nhập</a>
	</div>

	<script>

	</script>
</body>

</html>