<!doctype html>

<html class="no-js" lang="zxx" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="utf-8">
	<meta http-equiv="x-ua-compatible" content="ie=edge">
	<title>Angle Hotel</title>
	<meta name="description" content="">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<!-- <link rel="manifest" href="site.webmanifest"> -->
	<link rel="shortcut icon" type="image/x-icon" th:href="@{/img/favicon.png}">
	<!-- Place favicon.ico in the root directory -->

	<!-- Google Web Fonts -->
	<link rel="preconnect" th:href="@{https://fonts.googleapis.com}">
	<link rel="preconnect" th:href="@{https://fonts.gstatic.com}" crossorigin>
	<link th:href="@{https://fonts.googleapis.com/css2?family=Montserrat:ital@1&display=swap}" rel="stylesheet">

	<!-- Icon Font Stylesheet -->
	<link th:href="@{https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css}" rel="stylesheet">
	<link th:href="@{https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css}" rel="stylesheet">

	<!-- Libraries Stylesheet -->
	<link th:href="@{/admin/lib/owlcarousel/assets/owl.carousel.min.css}" rel="stylesheet}">
	<link th:href="@{/admin/lib/tempusdominus/css/tempusdominus-bootstrap-4.min.css}" rel="stylesheet" />

	<!-- CSS here -->
	<link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
	<link rel="stylesheet" th:href="@{/css/owl.carousel.min.css}">
	<link rel="stylesheet" th:href="@{/css/magnific-popup.css}">
	<link rel="stylesheet" th:href="@{/css/font-awesome.min.css}">
	<link rel="stylesheet" th:href="@{/css/themify-icons.css}">
	<link rel="stylesheet" th:href="@{/css/nice-select.css}">
	<link rel="stylesheet" th:href="@{/css/flaticon.css}">
	<link rel="stylesheet" th:href="@{/css/gijgo.css}">
	<link rel="stylesheet" th:href="@{/css/animate.css}">
	<link rel="stylesheet" th:href="@{/css/slicknav.css}">
	<link rel="stylesheet" th:href="@{/css/style.css}">
	<link rel="stylesheet" th:href="@{/css/customStyle.css}">
	<!-- <link rel="stylesheet" href="css/responsive.css"> -->
</head>

<body onload="hideAlert()">
	<!--[if lte IE 9]>
            <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="https://browsehappy.com/">upgrade your browser</a> to improve your experience and security.</p>
        <![endif]-->

	<!-- header-start -->
	<header>
		<div class="header-area ">
			<div id="sticky-header" class="main-header-area">
				<div class="container-fluid p-0">
					<div class="row align-items-center no-gutters">
						<div class="col-xl-5 col-lg-6">
							<div class="main-menu  d-none d-lg-block">
								<nav>
									<ul id="navigation">
										<li><a class="active" th:href="@{/}">Trang chủ</a></li>
										<li><a href="/rooms">Phòng</a></li>
										<li><a href="about.html">Về chúng tôi</a></li>

										<li><a href="contact.html">Liên hệ</a></li>
									</ul>
								</nav>
							</div>
						</div>
						<div class="col-xl-2 col-lg-2">
							<div class="logo-img">

							</div>
						</div>
						<div class="col-xl-5 col-lg-4 d-none d-lg-block">
							<div class="book_room">
								<div class="socail_links">
									<a href="#">
										<!-- IF CUSTOMER IS ANONYMOUS -->
										<div th:if="${user==null}">
											<a href="/login"><button type="button" class="btn btn-success">Đăng
													nhập</button></a>
										</div>
										<!-- ELSE -->
										<div th:if="${user!=null}">
											<div class="nav-item dropdown">
												<a style="color: white;" href="/login/account"
													class="nav-link dropdown-toggle" data-bs-toggle="dropdown">
													<img class="rounded-circle me-lg-2" th:src="${user.avatar}" alt=""
														style="width: 40px; height: 40px;margin-right: 10pt">
													<span class="d-none d-lg-inline-flex" th:text="${user.name}"></span>
												</a>
												<div
													class="dropdown-menu dropdown-menu-end bg-light border-0 rounded-0 rounded-bottom m-0">
													<a href="/login/account" class="dropdown-item">My Profile</a>
													<form id="myform2" method="post" action="/login/logout"></form>
													<a onclick="document.getElementById('myform2').submit();"
														class="dropdown-item">Log Out</a>
												</div>
											</div>
										</div>
									</a>
								</div>
								<div class="book_btn d-none d-lg-block">
									<a class="popup-with-form" href="#test-form">Đặt phòng</a>
								</div>
							</div>
						</div>
						<div class="col-12">
							<div class="mobile_menu d-block d-lg-none"></div>
						</div>
					</div>
				</div>
				<div class="alert alert-danger" role="alert" id="alert" >
					This is a danger alert—check it out!
				</div>
			</div>
		</div>
		
		
	</header>
	<!-- header-end -->

	<!-- slider_area_start -->
	<div class="slider_area">
		<div class="slider_active owl-carousel">
			<div class="single_slider d-flex align-items-center justify-content-center slider_bg_1">
				<div class="container">
					<div class="row">
						<div class="col-xl-12">
							<div class="slider_text text-center">
								<h3>Montana Resort</h3>
								<p>Unlock to enjoy the view of Martine</p>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="single_slider  d-flex align-items-center justify-content-center slider_bg_2">
				<div class="container">
					<div class="row">
						<div class="col-xl-12">
							<div class="slider_text text-center">
								<h3>Life is Beautiful</h3>
								<p>Unlock to enjoy the view of Martine</p>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="single_slider d-flex align-items-center justify-content-center slider_bg_1">
				<div class="container">
					<div class="row">
						<div class="col-xl-12">
							<div class="slider_text text-center">
								<h3>Montana Resort</h3>
								<p>Unlock to enjoy the view of Martine</p>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="single_slider  d-flex align-items-center justify-content-center slider_bg_2">
				<div class="container">
					<div class="row">
						<div class="col-xl-12">
							<div class="slider_text text-center">
								<h3>Life is Beautiful</h3>
								<p>Unlock to enjoy the view of Martine</p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- slider_area_end -->
	<hr>

	<!-- about_area_start -->
	<div class="about_area">
		<div class="container">
			<div class="row">
				<div class="col-xl-5 col-lg-5">
					<div class="about_info">
						<div class="section_title mb-20px">
							<span>Về chúng tôi</span>
							<h3>Sang trọng <br>
								Không gian xanh</h3>
						</div>
						<p>Suscipit libero pretium nullam potenti. Interdum, blandit phasellus consectetuer dolor ornare
							dapibus enim ut tincidunt rhoncus tellus sollicitudin pede nam maecenas, dolor sem. Neque
							sollicitudin enim. Dapibus lorem feugiat facilisi faucibus et. Rhoncus.</p>
						<a href="#" class="line-button">Xem thêm</a>
					</div>
				</div>
				<div class="col-xl-7 col-lg-7">
					<div class="about_thumb d-flex">
						<div class="img_1">
							<img th:src="@{/img/about/about_1.png}" alt="">
						</div>
						<div class="img_2">
							<img th:src="@{/img/about/about_2.png}" alt="">
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- about_area_end -->
	<hr>

	<!-- offers_area_start -->
	<div class="offers_area">
		<div class="container">
			<div class="row">
				<div class="col-xl-12">
					<div class="section_title text-center mb-100">
						<span>Phòng</span>
						<h3>Gợi ý cho bạn</h3>
						<span><a href="/rooms" class="line-button">Xem thêm</a></span>
					</div>
				</div>
			</div>
			<div class="row">
				<th:block th:each="room: ${rooms}">
					<div class="col-xl-4 col-md-4">
						<div class="single_offers">
							<form method="post" action="/booking">
								<div class="about_thumb">
									<img style="width: 239pt;height: 145pt;" name="image" th:src="${room.image}" alt="">
								</div>
								<h3 name="name" th:text="${room.name}"></h3>
								<ul th:each="des: ${room.description}">
									<li th:text="${des}"></li>
								</ul>
								<ul>Giá: $ <span name="price" th:text=${room.price}><span></ul>

								<input type="hidden" th:value="${room.id}" name="id">
								<input type="hidden" th:value="${room.quantity}" name="quantity">
								<input type="hidden" th:value="${room.category}" name="category">
								<input type="hidden" th:value="${room.image}" name="image">
								<input type="hidden" th:value="${room.name}" name="name">
								<input type="hidden" th:value="${room.price}" name="price">
								<ul><button onclick="checkLogin()" id="bt-book" class="bt-book book_now" type="submit">Đặt
											phòng</button></ul>
							</form>
						</div>
					</div>
				</th:block>

			</div>
		</div>
	</div>
	<!-- offers_area_end -->

	<hr>

	<!-- about_area_start -->
	<div class="about_area">
		<div class="container">
			<div class="row">
				<div class="col-xl-7 col-lg-7">
					<div class="about_thumb2 d-flex">
						<div class="img_1">
							<img th:src="@{img/about/1.png}" alt="">
						</div>
						<div class="img_2">
							<img th:src="@{img/about/2.png}" alt="">
						</div>
					</div>
				</div>
				<div class="col-xl-5 col-lg-5">
					<div class="about_info">
						<div class="section_title mb-20px">
							<span>Thực phẩm</span>
							<h3>Bữa ăn phong phú<br>
								Ngon và tươi sạch</h3>
						</div>
						<p>Suscipit libero pretium nullam potenti. Interdum, blandit phasellus consectetuer dolor ornare
							dapibus enim ut tincidunt rhoncus tellus sollicitudin pede nam maecenas, dolor sem. Neque
							sollicitudin enim. Dapibus lorem feugiat facilisi faucibus et. Rhoncus.</p>
						<a href="#" class="line-button">Xem thêm</a>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- about_area_end -->
	<hr>

	<!-- instragram_area_start -->
	<div class="instragram_area">
		<div class="single_instagram">
			<img th:src="@{/img/instragram/1.png}" alt="">
			<div class="ovrelay">
				<a href="#">
					<i class="fa fa-instagram"></i>
				</a>
			</div>
		</div>

	</div>
	<!-- instragram_area_end -->

	<!-- footer -->
	<footer class="footer">
		<div class="footer_top">
			<div class="container">
				<div class="row">
					<div class="col-xl-3 col-md-6 col-lg-3">
						<div class="footer_widget">
							<h3 class="footer_title">
								Địa chỉ
							</h3>
							<p class="footer_text"> Mỗ Lao, Hà Đông <br>
								Hà nội, Việt Nam</p>
							<a href="#" class="line-button">Chỉ đường</a>
						</div>
					</div>
					<div class="col-xl-3 col-md-6 col-lg-3">
						<div class="footer_widget">
							<h3 class="footer_title">
								Liên hệ:
							</h3>
							<p class="footer_text">1900561252 <br>
								thongocne@gmail.com</p>
						</div>
					</div>
					<div class="col-xl-2 col-md-6 col-lg-2">
						<div class="footer_widget">
							<h3 class="footer_title">
								Chuyển hướng
							</h3>
							<ul>
								<li><a href="#">Home</a></li>
								<li><a href="#">Rooms</a></li>
								<li><a href="#">About</a></li>
								<li><a href="#">News</a></li>
							</ul>
						</div>
					</div>
					<div class="col-xl-4 col-md-6 col-lg-4">
						<div class="footer_widget">
							<h3 class="footer_title">
								Newsletter
							</h3>
							<form action="#" class="newsletter_form">
								<input type="text" placeholder="Enter your mail">
								<button type="submit">Sign Up</button>
							</form>
							<p class="newsletter_text">Subscribe newsletter to get updates</p>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="copy-right_text">
			<div class="container">
				<div class="footer_border"></div>
				<div class="row">
					<div class="col-xl-8 col-md-7 col-lg-9">
						<p class="copy_right">
							<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. 
Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="fa fa-heart-o" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a>
 Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
					</div>
					<div class="col-xl-4 col-md-5 col-lg-3">
						<div class="socail_links">
							<ul>
								<li>
									<a href="#">
										<i class="fa fa-facebook-square"></i>
									</a>
								</li>
								<li>
									<a href="#">
										<i class="fa fa-twitter"></i>
									</a>
								</li>
								<li>
									<a href="#">
										<i class="fa fa-instagram"></i>
									</a>
								</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
	</footer>

	


	<!-- JS here -->
	<script th:src="@{/js/vendor/modernizr-3.5.0.min.js}"></script>
	<script th:src="@{/js/vendor/jquery-1.12.4.min.js}"></script>
	<script th:src="@{/js/popper.min.js}"></script>
	<script th:src="@{/js/bootstrap.min.js}"></script>
	<script th:src="@{/js/owl.carousel.min.js}"></script>
	<script th:src="@{/js/isotope.pkgd.min.js}"></script>
	<script th:src="@{/js/ajax-form.js}"></script>
	<script th:src="@{/js/waypoints.min.js}"></script>
	<script th:src="@{/js/jquery.counterup.min.js}"></script>
	<script th:src="@{/js/imagesloaded.pkgd.min.js}"></script>
	<script th:src="@{/js/scrollIt.js}"></script>
	<script th:src="@{/js/jquery.scrollUp.min.js}"></script>
	<script th:src="@{/js/wow.min.js}"></script>
	<script th:src="@{/js/nice-select.min.js}"></script>
	<script th:src="@{/js/jquery.slicknav.min.js}"></script>
	<script th:src="@{/js/jquery.magnific-popup.min.js}"></script>
	<script th:src="@{/js/plugins.js}"></script>
	<script th:src="@{/js/gijgo.min.js}"></script>

	<!--contact js-->
	<script th:src="@{/js/contact.js}"></script>
	<script th:src="@{/js/jquery.ajaxchimp.min.js}"></script>
	<script th:src="@{/js/jquery.form.js}"></script>
	<script th:src="@{/js/jquery.validate.min.js}"></script>
	<script th:src="@{/js/mail-script.js}"></script>

	<script th:src="@{/js/main.js}"></script>
	<script>
		$('#datepicker').datepicker({
			iconsLibrary: 'fontawesome',
			icons: {
				rightIcon: '<span class="fa fa-caret-down"></span>'
			}
		});
		$('#datepicker2').datepicker({
			iconsLibrary: 'fontawesome',
			icons: {
				rightIcon: '<span class="fa fa-caret-down"></span>'
			}

		});

		$("#bt-book").click(function (e) {
			e.preventDefault();
			$("#test-form").magnificPopup({
				type: 'inline',
				midClick: true
			});
		});
		
		
		
		function hideAlert() {
			$("#alert").hide();
		}
	</script>



</body>

</html>